    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">
          
          <div class="section-title">
            <h2>About Me</h2>
          </div>
  
          <div class="row">
            <div class="col-lg-4" data-aos="fade-right">
              <img src="assets/images/profile-img.jpg" class="img-fluid" alt="profile picture">
            </div>

            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
              <h3>Software Developer / Computer Science Student</h3>
              <p class="font-italic" style="opacity: 0.5;">
                  Currently seeking Summer/Winter 2022 Internship in software field
              </p>
                <p style="font-family: 'Courier Prime', monospace;">
                   > Hello world, this is Duc
                </p>
                <p>
                  That was my very first "Hello, world" program I wrote, all the way back when I was in primary school and learning Pascal. 
                  It was intimidating for a 9 years old boy to write something and make it work on a black and white computer screen, but it ignited my fascination for programming and computer.
                  Since then, a lot of things have changed, but my passion for programming never does. 
                  I still see the terminal screen as a canvas for me to get creative and the keyboard is a brush to make extraordinary things, up to this day.
                  <br> <br>
                  After completing my high school degree in Hanoi, I moved to Montreal, Canada in 2017 to pursue a bachelor's degree in Computer Science at Concordia University.
                  It was here that I learn the fundamentals of this field and get to do more of the things I love.
                  <br><br>
                  I love watching Netflix 🍿 , reading books 📕 , travelling 🚗 , drinking boba 🥤 , and petting dogs 🐶.
                  <br><br>
                  I am always looking for a team where I can collaborate and deliver high-quality works. If I sound like a good fit for your team,
                  <a href="#contact"><u>hit me up!</u></a> 
                </p>
                <button type="submit" onclick=" window.open('/uploads/Duc-Nguyen-Resume.pdf','_blank')" class="btn btn-primary">My Resume</button> 
            </div>
          </div>
  
        </div>
      </section><!-- End About Section -->