    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">
          
          <div class="section-title">
            <h2>About Me</h2>
          </div>
  
          <div class="row">
            <div class="col-lg-4" data-aos="fade-right">
              <img src="assets/images/profile-pic.jpg" class="img-fluid" alt="">
            </div>

            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
              <h3>Computer Science Student</h3>
              <p class="font-italic" style="opacity: 0.5;">
                  Currently seeking Summer 2021 Internship in software or data field
              </p>
                <p>Hello world, this is meeeee</p>
                <button type="submit" onclick=" window.open('/uploads/DucNguyen-resume.pdf','_blank')" class="btn btn-primary">My Resume</button>
            </div>
          </div>
  
        </div>
      </section><!-- End About Section -->