<!-- ======= Contact Section ======= -->
<section id="contact" class="contact section-bg">
  <div class="container">
    <div class="section-title">
      <h2>Contact Me</h2>
      <p>Like what you see? Contact me!</p>
    </div>

    <div class="row" data-aos="fade-in">
      <div class="col-lg-5 d-flex align-items-stretch">
        <div class="info">
          <div class="address">
            <i class="icofont-google-map"></i>
            <h4>Based in:</h4>
            <p>Montreal, QC, Canada</p>
          </div>

          <div class="email">
            <i class="icofont-envelope"></i>
            <h4>Email:</h4>
            <p>triduc.nguyen@concordia.ca</p>
          </div>

          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22369.714352513267!2d-73.58504207097634!3d45.50576463935129!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc91a42465421bd%3A0xfbb91c3e6b1f6a78!2sDowntown%20Montreal%2C%20Montreal%2C%20QC!5e0!3m2!1sen!2sca!4v1598917544832!5m2!1sen!2sca"
            frameborder="0"
            style="border: 0; width: 100%; height: 290px"
            allowfullscreen
          ></iframe>
        </div>
      </div>

      <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
        <form
          action="https://formspree.io/xqkyvgpy"
          method="post"
          role="form"
          class="php-email-form"
        >
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="name">Your Name</label>
              <input
                type="text"
                name="name"
                class="form-control"
                id="name"
                data-rule="minlen:4"
                data-msg="Please enter at least 4 chars"
              />
              <div class="validate"></div>
            </div>

            <div class="form-group col-md-6">
              <label for="name">Your Email</label>
              <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                data-rule="email"
                data-msg="Please enter a valid email"
              />
              <div class="validate"></div>
            </div>
          </div>

          <div class="form-group">
            <label for="name">Subject</label>
            <input
              type="text"
              class="form-control"
              name="subject"
              id="subject"
              data-rule="minlen:4"
              data-msg="Please enter at least 4 chars of subject"
            />
            <div class="validate"></div>
          </div>

          <div class="form-group">
            <label for="name">Message</label>
            <textarea
              class="form-control"
              name="message"
              rows="10"
              data-rule="required"
              data-msg="Please write something here"
            ></textarea>
            <div class="validate"></div>
          </div>

          <div class="mb-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">
              Your message has been sent. Thank you!
            </div>
          </div>
          <div class="text-center">
            <button type="submit">Send Message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Section -->
