  
  <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>
  
  
  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="assets/images/profile-pic.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="/">Duc (Duke) Nguyen</a></h1>
        <div class="social-links mt-3 text-center">
          {% for socialLink in site.data.nav_social_links %}
            <a href="{{ socialLink.url }}" target="blank"><i class="{{ socialLink.iconClass }}"></i></a>
          {% endfor %}
        </div>
      </div>

      <nav class="nav-menu">
        <ul>
          <li class="active"><a href="#hero"><i class="bx bx-home"></i> <span>Home</span></a></li>
          {% for section in site.data.nav_menu %}
            <li><a href="#{{ section.href }}"><i class="{{ section.iconClass }}"></i> <span>{{ section.name }}</span></a></li>
          {% endfor %}
        </ul>
      </nav><!-- .nav-menu -->
      <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

    </div>
  </header><!-- End Header -->