<!-- ======= Skills Section ======= -->
<section id="skills" class="skills section-bg">
    <div class="container">
        <div class="section-title">
            <h2>Languages and tools</h2>
        <p>
            I have experience with web development, backend and front end
        </p>
        </div>

        {% for section in site.data.skills %}
        <div class="col">
            <div class="row justify-content">
                <div class="card d-block bg-transparent border-light">
                    <h3>{{ section.section_name}}</h3>
                        {% for link in section.badges %}
                            <img class="skill-icon" src="{{ link.svg_link }}">
                        {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section><!-- End Skills Section -->