<!-- ======= Skills Section ======= -->
<section id="skills" class="skills section-bg">
    <div class="container">
        <div class="section-title">
            <h2>Technical Skills</h2>
        </div>

        <div data-aos="fade-up">
        {% for section in site.data.skills %}
        <div class="col">
            <div class="row justify-content-center">
                <div class="card d-block bg-transparent border-0">
                    <div class="resume">
                    <!--<h3 class="resume-title">{{ section.section_name}}</h3>-->
                        {% for link in section.badges %}
                            <img class="skill-icon ml-8" src="{{ link.svg_link }}">
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        {% endfor %}
        </div>
    </div>
</section><!-- End Skills Section -->