<!-- ======= Timeline Section ======= -->
<section id="timeline" class="resume">
    <div class="container">

    <div class="section-title">
        <h2>My Timeline</h2>
    </div>

    <div class="row">
        <div class="col-lg-6" data-aos="fade-up">

            <h3 class="resume-title">Work Experience</h3>
            {% for job in site.data.works %}
            <div class="resume-item pd-0">
                <h4>{{ job.title }}</h4>
                <h5>{{ job.time }}</h5>
                <p><em>{{ job.location }}</em></p>
                <p>{{job.description}}</p>
                <p>
                    <ul>
                        {% for task in job.tasks %}
                        <li>{{ task.name }}</li>
                        {% endfor %}
                    </ul>
                </p>
            </div>
            {% endfor %}

            <h3 class="resume-title">Education</h3>
            {% for degree in site.data.education %}
            <div class="resume-item">
                <h4>{{ degree.title }}</h4>
                <h5>{{ degree.time }}</h5>
                <p><em>{{ degree.location }}</em></p>
                <p>
                    <ul>
                    {% for activity in degree.activities %}
                        <li>{{ activity.name }}</li>   
                    {% endfor %}
                    </ul>
                </p>
            </div>
            {% endfor %}

            <h3 class="resume-title">Volunteer</h3>
            {% for work in site.data.volunteer %}
            <div class="resume-item">
                <h4>{{ work.title }}</h4>
                <h5>{{ work.time }}</h5>
                <p><em>{{ work.location }}</em></p>
            </div>
            {% endfor %}

            <h3 class="resume-title">Certificate</h3>
            {% for cert in site.data.certificates %}
            <div class="resume-item">
                <h4>{{ cert.title }}</h4>
                <h5>Issued: {{ cert.time }}</h5>
                <p><em>{{ cert.location }}</em></p>
                {% if cert.link %}
                <strong style="font-size: 16px; font-family: 'Barlow', sans-serif;"><a href="{{ cert.link }}" target="blank"><i class="bx bx-medal"></i> See certificate</a></strong>
                {% endif %}
            </div>
            {% endfor %}

        </div>  

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">My projects</h3>

            <!--Load project data-->
            {% for project in site.data.projects %}
            <div class="resume-item">
                <h4>{{ project.name }}</h4>
                <h5>{{ project.time }}</h5>
                <p>
                    <em>{{ project.location }}</em>
                    <br><br>
                    {{ project.description }}
                    <br><br>
                    {% if project.website %}
                    <strong><a href="{{ project.website }}" target="blank"><i class="bx bx-link-external"></i>More information</a></strong>
                    <br>
                    {% endif %}
                    <strong><a href="{{ project.url }}" target="blank" style="color:rgb(104,42,134);"><i class="bx bxl-github"></i> See repo</a></strong>
                </p>    
            </div>
            {% endfor %}
        </div>
    </div>
    </div>
</section><!-- End Resume Section -->